<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
	    <nav class="nav navbar-nav navbar-left">
	      <span>Bookers</span>
	    </nav>
	    <nav>
	      <ul class="nav navbar-nav navbar-right">
	          <li><a class="glyphicon glyphicon-home home" href="/users/111"> Home</a></li>

	          <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>

	          <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>

	          <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
	      </ul>
	    </nav>
	  </div>
	</header>


	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>New Book</h2>
				<%= form_for(@book) do |b| %>

			      <div class="field">
			        <%= b.label :title, "Title" %>
			        <p><%= b.text_field :title %></p>
			      </div>

			      <div class="field">
			        <%= b.label :body, "Opinion" %>
			        <p><%= b.text_area :body %></p>
			      </div>

			      <div class="action">
			        <%= b.submit 'Create Book', class: "btn btn-primary" %>
			      </div>

			    <% end %>

			    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

			</div>

			<div class="col-xs-9">
				<h2>Books</h2>
				<table class="table">
					<thead>
			          <tr>
			            <th>Title</th>
			            <th>Opinion</th>
			          </tr>
			        </thead>

			        <tbody>
			          <% @books.each do |book| %>
			            <tr>
			              <td><%= link_to book.title, book_path(book) %></td>
			              <td><%= book.body %></td>
			            </tr>
			          <% end %>
			        </tbody>


				</table>

			</div>


	  	</div>
	</div>

</body>
</html>