<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>New Book</h2>
				<%= form_for(@newbook) do |b| %>

			      <div class="field">
			        <%= b.label :title, "Title" %>
			        <p><%= b.text_field :title %></p>
			      </div>

			      <div class="field">
			        <%= b.label :body, "Opinion" %>
			        <p><%= b.text_area :body %></p>
			      </div>

			      <div class="action">
			        <%= b.submit 'Create Book', class: "btn btn-primary" %>
			      </div>

			    <% end %>
			</div>

			<div class="col-xs-9">
				<h2>Books detail</h2>
				<table class="table">

					<tbody>
			            <tr>
			              <td><%= @book.title %></td>
			              <td><%= @book.body %></td>
			              <td>
				              <%= link_to "Edit", edit_book_path(@book) %>
				            </td>
				            <td>
				              <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか?"} %>
				            </td>
			            </tr>
			        </tbody>

				</table>

			</div>

		</div>
	</div>

</body>
</html>